footer {
    display: flex;
    position: relative;
}

.music__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 40%;
    background: linear-gradient(90deg, #b0f1d3,#96f3e3);
}

.music__progress::before {
    content: '';
    display: block;
    position: absolute; 
    right: 0; 
    top: 50%; 

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--secondary);
    transform: translate(50%, -50%); 
     box-shadow: 0 0 10px 5px rgba(107, 236, 193, 0.5); 
    filter: blur(0.2px); 
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px;
    width: 100%;
    margin: auto 35px;
    height: 45px;
    max-width: 1720px;

}

.player{
    display: flex;
     align-items: center;
    gap: 7px;
}

.music {
    display: flex;
    align-items: center;
    gap: 15px;
}

.music svg {
    width: 17px;
    height: 17px;
    border-radius: 5px;

}

.music__details {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.music__details h3 {
    font-size: 1.200rem;
    font-weight: 400;
    color: var(--tertiary);
}

.music__details p {
    margin-left: 2px;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--primary);
}

.music svg:hover {
    filter: brightness(0.9);
}

.music__controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.music__controls button  {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    border-radius: 5px;

    background: var(--background);
}

.music__controls svg {
    width: 25px;
    height: 25px;
}

.music__controls .player button:nth-child(2) {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #232323;
    border: 1px solid #4d4b4b;

}

.music__controls .player button:nth-child(2) svg {
    margin-left: 3px;
}

.music__controls .player button svg {
    width: 25px;
    height: 25px;
}

.music__controls button:hover {
    filter: brightness(0.9);
}

.footer__content button:hover svg {
    filter: brightness(1.1);
}


.config_controlls {
    display: flex;
    align-items: center;
    gap: 30px;
}


.config_controlls button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    border-radius: 5px;

    background: var(--background);
}


.config_controlls svg {
    width: 25px;
    height: 25px;
}

@media(max-width: 1080px) {
    .footer__content {
        height: 75px;
    }
}

@media (max-width: 720px) {
  footer {
    width: 100vw;
    height: auto; 
    padding-bottom: 20px;
  }

  .footer__content {
    display: flex;               
    flex-direction: column;      
    align-items: center;       
    justify-content: center;
    padding: 12px;
    gap: 20px;                 
    height: auto;   
    margin: 15px;            
  }

  .music {
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .music svg {
    margin-right: 5px;
  }

  .music__controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
    width: 100%;
  }

  .config_controlls {
    display: none;
  }
}


