main {
  flex: 1;
  display: flex;

  background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.411)), url('/assets/jinx.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__content {
  width: 100%;
  max-width: 1440px;
  margin: 260px 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 5px
}

.main__content h2 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 9px;
  color: var(--tertiary);
}

.main__content p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary);

}

.controls {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 12px;

}

.controls button {
  display: flex;
  border-radius: 50%;

  background: var(--tertiary);
}

.controls button:disabled {
  background: #acaaaa;
}

.controls button:hover {
  filter: brightness(0.9);
}

.controls button svg path {
  stroke: var(--background);
}

.controls span {
  font-size: 1.30rem;
  font-weight: 300;
  color: var(--primary);
}


@media (max-width: 480px) {


  .main__content {
    margin: 250px 25px 56px;
    
  }


}


@media (max-width: 2156px) and (min-height: 876px) {
  .main__content {
    margin: 540px 60px auto;
  }

  .main__content h2 {
    font-size: 3rem;
    letter-spacing: 7px;
  }

  .main__content p {
    font-size: 1.55rem;
  }

  .controls {
    margin-bottom: 23px;
  }

  .controls button {
    width: 45px;
    height: 45px;

  }

  .controls span {
    font-size: 1.55rem;
    font-weight: 300;
    color: var(--primary);
  }

  .controls button svg {
    width: 44px;
    height: 44px;
  }



}